h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.work_title {
    text-align: center;
    width: 100%;
}

.work__list {
    list-style-position: inside;
    list-style-type: disc;
}

.work__list, .work__desc {
    font-size: 1rem;
    max-width: 600px;
}

.section__badges {
    margin-top: 2em;
}

.badges__list {
    max-width: 450px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.badges__list-item {
    margin: 0.5em;
}

.badge {
    display: block;
    cursor: pointer;
    padding: 0.8em 1.4em;
    font-weight: 500;
    font-size: 0.9rem;
    transition: transform 0.2s ease-in-out;
}

.badge--plain {
    background-color: var(--clr-bg-alt);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border: 0;
}

.badge--plain:hover {
    transform: translateY(-4px);
}

.badge-img {
    width: 150px;
    height: 150px;
}